body {
  background-color: #f1f1f1;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
p {
  margin: 0;
}
.header h2 {
  background-color: #fdd868;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 20px 0;
  margin-bottom: 30px;
}
.search-container input {
  display: block;
  margin: 0 auto;
  border: 1px solid #bdbdbd;
  padding: 10px 15px;
  /* border-radius: 10px;
  */
  width: 100%;
  font-size: 16px;
  outline: 0;
  box-sizing: border-box;
}
.countries-list {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #a2a2a2;
  box-sizing: border-box;
  color: gray;
  border-top: 0;
}
.countrie {
  display: block;
  padding: 10px 15px;
}
.search-container {
  max-width: 600px;
  margin: 0 auto;
}
.countrie a {
  text-decoration: none;
  color: #565656;
  font-weight: bold;
}
.detail {
  max-width: 560px;
  display: block;
  margin: 0 auto;
  background-color: #fbe629;
  padding: 10px 0;
  margin-top: 40px;
  color: #070438;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 60px;
}
.detail h1 {
  text-align: center;
}
.detail img {
  width: 250px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.infos span {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}
